{% extends 'base.html.twig' %}

{% block title %}Tous les catégories{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
    <div class="flash-success bg-green-200 text-green-700">
        {{ message }}
    </div>
    {% endfor %}


<div class="relative overflow-x-auto">
    <h1 class="text-center text-3xl font-bold mb-5"> Mes catégiries </h1>
    <a href="{{path('category_form')}}" class="mx-auto mt-5 mb-10 text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
      Créer une catégorie
    </a>
      <a href="{{path('category-update')}}" class="mx-auto mt-5 mb-10 text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
      Modifier une catégorie
    </a>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    ID
                </th>
                <th scope="col" class="px-6 py-3">
                    Nom de catégorie
                </th>
            </tr>
        </thead>
        <tbody>
          {% for category in categories %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{category.id}}
                </th>
                <td class="px-6 py-4">
                    <a href="{{path('category', {id:category.id} )}}">{{category.name}}</a>
                </td>
            </tr>
                {% else %}
            <p> Aucun Catégorie trouvée </p>
          {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}